<div class="main-wrapper">
    <mat-card>
        <mat-card-title>Introduction</mat-card-title>
        <img mat-card-image src="https://ist.psu.edu/sites/default/files/featured/visitor-info.jpg" alt="Photo of a Shiba Inu">
    
        <mat-card-content>
            <p style="font-size: 1.3rem;">We are system security researchers at the Pennsylvania State University. We are interested in improving systems’ security, reliability, and performance. We have built cutting-edge tools that pinpoint thousands of previously unknown bugs and vulnerabilities in famous software. We always have openings for self-motivated Ph.D. students or interns. 
                If you are interested in joining, please contact <a href="https://huhong789.github.io">Hong Hu</a> or <a href="https://songlh.github.io/">Linhai Song</a>.
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-title>News</mat-card-title>
        
    </mat-card>
</div>
