.admonition.bibtex {
    display: none ;    
}

.admonition.abstract {
    display: none ;    
}



.psu-pub-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.psu-pub-title a[href*="https://github.com/"] {
    display:inline-flex;

}